html
	head
		title MTGP
		script(src='jquery-1.11.1.min.js')
		link(rel='stylesheet', href='bootstrap.css')
		link(rel='stylesheet', href='style.css')
		script(src='bootstrap.js')
		link(rel='stylesheet', href='select2.css')
		script(src='select2.js')
	body
		div.container
			h1.text-center MTG LAND PRICER
			div.row.text-center
				div.col-md-5
					h3 Search by commander:
					form(method='get', action='/edh')
						div.form-group
							select(name='edh_id')#edh-auto
								for c in edh_auto
									option(value=c.id)=c.name
							div.hidden
								for c in edh_auto
									div(id=c.id)=c.image_url
						div#edh-auto-current
							p blank
						div.form-group
							input(type='submit' value='PLS').btn
				div.col-md-2
					h2#header-middle or
				div.col-md-5
					h3 Search by colors:
					form(method='get', action='/land', role='form')
						div.form-group
							table.table.table-condensed.text-center
								thead
									tr
										th.text-center COLOR
										th.text-center AND (MAKES)
										th.text-center OR (MAKES)
										th.text-center NOT (IDENTITY)
								tbody
									for col in colors
										tr
											td=col.toString()
											td
												input(type='checkbox' name='and' value=col)
											td
												input(type='checkbox' name='or' value=col)
											td
												input(type='checkbox' name='not' value=col)
						div.form-group.text-left
							label(for='format').control-label Legal in: 
							select(name='format')#format.form-control
								option(value='null') don't care, show me everything!
								for form in formats
									option(value=form)=form
						div.form-group
							input(type='submit' value='YEAH').btn
			if general
				hr
				div.row
					div.col-md-8.text-left
						h3= general.name
							span.price= general.best_price_str
						h4= general.text
					div.col-md-4.text-center
						image(src='sample-card.png')
			if (similar && similar.length > 0)
				hr
				for card in similar
					h4= card.name
						span.price= card.best_price_str
			if lands
				hr
				for card in lands
					h4= card.name
						span.price= card.best_price_str
					h5= card.text
		script(type='text/javascript').
			$(document).on('ready', function(){				
				$('#edh-auto').select2();
				var imageFunc = function(e){
					var current_id = $('#edh-auto').val();
					var img_url = $('#'+current_id).html();
					//replace this w/ img tag
					$('#edh-auto-current').html(img_url);
				};
				$('#edh-auto').on('change', imageFunc);
				imageFunc();
			});